<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" th:src="@{../static/echarts/echarts.min.js}"></script>
    <script src="../static/bootstrap/js/jquery-1.10.2.js"></script>
    <script src="../static/js/container.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1200px;height:800px;margin-left: 50px"></div>
<script>
    initAllData();
    setInterval(initAllData, 20000);
</script>

</body>
</html>