<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
	<!-- Bootstrap Styles-->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="../static/bootstrap/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="../static/bootstrap/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="../static/bootstrap/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong>微服务监控</strong></a>
            </div>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#" class="active-menu"><i class="fa fa-table"></i>容器列表</a>
                    </li>
                    <li>
                        <a href="/showAllMeas"><i class="fa fa-dashboard"></i>全局指标列表</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header"> 
                        <h1 class="page-header">
                            容器列表
                        </h1>
						<ol class="breadcrumb">
					  <li class="active">Data</li>
					</ol>
              <!--<input type="button" name="Submit" class="btn btn-info" onclick="javascript:history.back(-1);" value="返回上一页">-->

          </div>
		
            <div id="page-inner"> 
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div id="panel" class="panel panel-default">
                        <div class="panel-heading" id="title">
                             容器名
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead id="cont_head">
                                        <tr>
                                            <th>container name</th>
                                            <th>machine</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cont_body">
                                    <tr class="odd gradeA" th:each="con:${containers}">
                                        <td><label th:text="${con.name}" th:onclick="'javascript:showIndex(\''+${con.name}+'\',\''+${meas}+'\');'"></label></td>
                                        <td th:text="${con.machine}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

                <!-- /. ROW  -->
        </div>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../static/bootstrap/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="../static/bootstrap/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="../static/bootstrap/js/dataTables/jquery.dataTables.js"></script>
    <script src="../static/bootstrap/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->
    <script src="../static/bootstrap/js/custom-scripts.js"></script>
    <script src="../static/js/container.js"></script>
   
</body>
</html>
